.text {
  &,
  p {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.3;

    @include m768 {
      font-size: 20px;
    }
    @include m992 {
      font-size: 24px;
    }
  }
}

.text--small {
  &,
  p {
    font-size: 18px;
    line-height: 1.2;

    @include m992 {
      font-size: 20px;
    }
  }
}

.text--big {
  &,
  p {
    font-size: 28px;
    line-height: 1.2;

    @include m992 {
      font-size: 32px;
    }
  }
}

.title {
  margin: 0 0 16px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;

  @include m768 {
    font-size: 48px;
  }
  @include m992 {
    font-size: 64px;
  }
}

.title--medium {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 300;

  @include m768 {
    font-size: 32px;
  }
  @include m992 {
    font-size: 44px;
  }
}

.title--small {
  font-size: 18px;

  @include m768 {
    font-size: 20px;
    margin-bottom: 0;
  }
  @include m992 {
    font-size: 24px;
  }
}

.title--big {
  font-size: 48px;
  font-weight: 300;

  @include m768 {
    font-size: 62px;
  }
  @include m992 {
    font-size: 80px;
  }
}