.hero-home {
  position: relative;
  min-height: 90vh;
  margin-bottom: 100px;

  @include m768 {
    min-height: 100vh;
    margin-bottom: 300px;
  }

  >.container {
    position: relative;
    display: flex;
    padding-top: 175px;
    padding-bottom: 20vh;

    @include m576 {
      padding-top: 200px;
      padding-bottom: 150px;
    }
    @include m768 {
      min-height: 100vh;
      padding-top: 0;
      padding-bottom: 5%;
    }
  }
}

.shapes {
  .red {
    top: 0;
    right: 25%;
    width: 150%;
    max-width: 1900px;
    transform: translateY(-10%);

    @include m768 {
      transform: translateY(-50%);
    }
    @include m1200 {
      width: 120%;
    }
  }
}

.hero__logo {
  position: absolute;
  top: 0;
  left: 24px;
  display: none;
  height: 100vh;
  padding: 25px;
  padding-left: 0;

  .line {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: $white;
  }

  @include m768 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    position: relative;
    left: -4px;
    width: 60px;
    fill: $white;
  }

  .arrow {
    z-index: 2;
    margin-bottom: 10px;
    justify-self: flex-end;
    cursor: pointer;
    
    @include m768 {
      display: block;
    }

    svg {
      width: 18px;
      transform: rotate(90deg);
      fill: none;
      stroke: $white;
      stroke-width: 2;
    }
  }
}

.hero__content {
  @include m768 {
    margin: auto 0;
    padding-left: 150px;
  }
  @include m992 {
    padding-left: 250px;
  }

  h1 {
    max-width: 850px;
    margin-bottom: 0.75em;
    color: $white;
  }
}

.hero__items {
  position: relative;
  width: 100%;
  padding: 35px 0;

  @include m576 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include m1200 {
    @media screen and (max-height: 650px) {
      position: relative;
    }
  }

  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $white;
  }

  .arrow {
    position: absolute;
    top: 45px;
    right: 16px;

    @include m576 {
      top: -40px;
    }
    @include m768 {
      display: none;
    }

    svg {
      width: 20px;
      transform: rotate(90deg);
      fill: none;
      stroke: $white;
      stroke-width: 2;
    }
  }

  .wrap-items {
    display: flex;
    flex-direction: column;
    color: $white;
    justify-content: space-between;
    align-items: flex-start;

    @include m576 {
      flex-direction: row;
    }
    @include m768 {
      padding-left: 150px;
    }
    @include m992 {
      padding-left: 250px;
    }
  }

  p {
    margin: 0;
  }

  .item {
    display: none;
    margin-bottom: 16px;
    line-height: 1.2;

    @include m768 {
      display: block;
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .item--1 {
    display: block;

    @include m992 {
      position: relative;
      left: -27px;
    }
  }
}