footer {
  position: relative;

  .shapes {
    .red {
      top: 40%;
      left: 50%;
      width: 200%;
      max-width: 1900px;
      transform: translateX(-50%);
      filter: blur(100px);

      @include m768 {
        top: 65%;
        left: 0;
        width: 50%;
        transform: translateX(0);
      }
    }
  }

  .container {
    position: relative;
  }
}

.footer__logo {
  display: none;

  @include m768 {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 24px;
  }

  .logo {
    width: 118px;
    fill: $white;

    @include m768 {
      width: 220px;
    }
  }

  span {
    display: block;
    margin-top: 8px;
    color: $white;
  }

  .arrow {
    width: 18px;
    margin-top: auto;
    transform: rotate(-90deg);
    fill: none;
    stroke: $white;
    stroke-width: 2;
    cursor: pointer;

    @include m768 {
      width: 20px;
    }
  }
}

.footer__logo--mobile {
  position: relative;
  display: block;
  height: auto;
  margin-bottom: 28px;

  @include m768 {
    display: none;
  }

  .arrow {
    position: absolute;
    top: 15px;
    right: 0;
    transform: rotate(-90deg);
  }
}

.footer__content {
  margin-bottom: 100px;

  @include m768 {
    margin-bottom: 150px;
  }

  .title {
    margin-bottom: 0.5em;
    color: $white;
    font-size: 8vw;
    font-weight: 400;

    @include m768 {
      font-size: 42px;
    }
    @include m992 {
      font-size: 56px;
    }
  }
}

.footer__menu {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  color: $white;
  justify-content: space-between;

  a {
    font-family: $contra;
    font-size: 14px;

    @include m600 {
      font-size: 16px;
    }

    &:hover {
      font-family: $contra_pixel;
    }
  }
}

.footer--dark {
  .footer__logo {
    .logo {
      fill: $blue;
    }

    span {
      color: $blue;
    }

    .arrow {
      stroke: $blue;
    }
  }

  .footer__content {
    .title {
      color: $blue;
    }
  }

  .footer__logo--mobile {
    .arrow {
      stroke: $blue;
    }
  }

  .footer__menu {
    color: $blue;
  }
}