header {
  position: relative;
  z-index: 5;
  padding: 24px 0;

  .container {
    position: relative;
  }
}


.header--home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .header__logo {
    @include m768 {
      display: none;
    }
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 32px 16px;
    transition: transform 0.6s cubic-bezier(.25,.1,.25,1);
    transform: translateX(100%);
    pointer-events: none;
    color: $white;
    background-color: $blue;
    justify-content: flex-end;

    @include m768 {
      position: relative;
      flex-direction: row;
      width: auto;
      height: auto;
      padding: 0;
      transform: translateX(0);
      pointer-events: all;
      opacity: 1;
      background: none;
      justify-content: space-between;
    }
  }

  .header__hamburger {
    position: relative;
    z-index: 2;
    display: block;

    @include m768 {
      display: none;
    }
  }
}

.header__logo {
  position: relative;
  z-index: 2;
  width: 118px;

  &:hover {
    @include m768 {
      svg {
        fill: $red;
      }
    }
  }

  svg {
    transition: fill 0.2s ease-in;
    fill: $white;
  }
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 160px 16px 32px;
  transition: transform 0.6s cubic-bezier(.25,.1,.25,1);
  transform: translateX(100%);
  pointer-events: none;
  color: $white;
  background-color: $blue;
  justify-content: flex-start;

  @include m576 {
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 0;
    transform: translateX(0);
    pointer-events: all;
    opacity: 1;
    background: none;
    justify-content: space-between;
  }

  &.active {
    transform: translateX(0);
    pointer-events: all;
  }

  .playlist {
    margin-left: 0;

    &:hover {
      span {
        transform: translateX(0);
        opacity: 1;
      }
    }

    span {
      display: inline-block;
      transition-timing-function: ease-in;
      transition-duration: 0.15s;
      transition-property: opacity, transform;
      transform: translateX(-25px);
      opacity: 0;
    }

    svg {
      position: relative;
      top: 2px;
      display: inline-block;
      width: 20px;
      margin-right: 5px;

      rect,
      path {
        stroke: $white;
        stroke-width: 1.5;
      }

      rect {
        fill: $white;
      }

      .stroke {
        fill: none;
      }
    }
  }

  a {
    margin-bottom: 16px;
    font-family: $contra;
    font-size: 48px;

    @include m576 {
      margin-bottom: 0;
      margin-left: 24px;
      font-size: 24px;
    }

    &:hover,
    &.active {
      font-family: $contra_pixel;
    }
  }

  .menu__contact {
    margin-top: auto;
    margin-bottom: 48px;

    @include m768 {
      display: none;
    }

    h6 {
      margin-bottom: 4px;
      text-transform: uppercase;
      font-size: 16px;
      opacity: 0.5;
      font-weight: 400;
    }

    a {
      font-family: $contra;
      font-size: 18px;
    }
  }

  .menu__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include m768 {
      display: none;
    }

    a {
      font-family: $contra;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

.header__hamburger {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  width: 20px;
  height: 8px;

  @include m576 {
    display: none;
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    transition: transform 0.3s cubic-bezier(.25,.1,.25,1);
    transform-origin: center;
    background-color: $white;
  }

  &:before {
    top: 0;
    transform: translateX(-30%);
  }

  &:after {
    bottom: 0;
    transform: translateX(30%);
  }

  &.active {
    &:before {
      top: 50%;
      transform: translate(0, -50%) rotate(45deg);
    }

    &:after {
      bottom: 50%;
      transform: translate(0, 50%) rotate(-45deg);
    }
  }
}

.header--dark {
  .header__logo {
    svg {
      fill: $blue;
    }
  }

  .header__menu {
    color: $blue;
  }

  .header__hamburger {
    &:before,
    &:after {
      background-color: $blue;
    }
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .header__logo {
    svg {
      fill: $white;
    }
  }

  .header__menu {
    color: $white;
  }

  .header__hamburger {
    &:before,
    &:after {
      background-color: $white;
    }
  }
}
