.news-card {
  width: 100%;

  @include m768 {
    margin-bottom: 120px;
  }

  a:link {
    &:hover {
      .news-card__content {
        .title {
          text-decoration: underline;
        }
      }
    }
  }
}

.news-card--dark {
  .news-card__content {
    color: $blue;

    .text {
      color: rgba($blue, 0.5);
    }
  }
}

.news-card__img {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;

  img {
    @include fullAbs;
    @include fit;
  }
}

.news-card__content {
  padding-top: 20px;
  color: $white;

  .title {
    margin-bottom: 16px;
  }

  .text {
    color: rgba($white, 0.5);
  }

  .date {
    font-size: 14px;
    font-family: $contra;

    @include m768 {
      font-size: 16px;
    }
  }
}
