.project__img {
  position: relative;
  overflow: hidden;

  .marquee {
    display: flex;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    background-color: rgba($blue, 0.5);
    align-items: center;
    @include fullAbs;

    .content {
      white-space: nowrap;
      color: $white;
      font-size: 30px;
      @include anim(marquee, 14s, -50%);
      font-family: $contra;
    }
  }

  img {
    transition: transform 0.6s ease-out;
  }
}

.project__tags {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 16px;
  transition: opacity 0.3s ease-in;
  gap: 24px;

  @include m768 {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba($blue, 0.3);
    font-size: 12px;
    backdrop-filter: blur(5px);
    font-family: $contra;
  }
}

.project__content {
  padding-top: 20px;

  .title {
    margin-bottom: 16px;
  }

  .text {
    transition: text-decoration 0.3s ease-in;
  }
}

.project {
  width: 100%;
  margin-bottom: 64px;
  color: $white;

  @include m768 {
    margin-bottom: 120px;
  }

  &:hover {
    .project__tags {
      opacity: 0;
    }

    .marquee {
      opacity: 1;
    }

    img {
      transform: scale(1.05);
    }

    .text {
      text-decoration: underline;
    }
  }
}

.project--full {
  .project__img {
    padding-bottom: 62.5%;

    img {
      @include fullAbs;
      @include fit;
    }
  }
}