.project {
  width: 100%;
  margin-bottom: 64px;
  color: $white;

  @include m768 {
    margin-bottom: 120px;
  }

  &:hover {
    .project__tags {
      opacity: 0;
    }

    .marquee {
      opacity: 1;
    }
    
    .text {
      text-decoration: underline;
    }
  }
}

.project__img {
  position: relative;
  overflow: hidden;

  .marquee {
    display: flex;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    background-color: rgba($blue, 0.5);
    align-items: center;
    @include fullAbs;

    .content {
      white-space: nowrap;
      color: $white;
      font-family: $contra;
      font-size: 30px;
      @include anim(marquee, 14s, -50%);
    }
  }
}

.project__tags {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 16px;
  transition: opacity 0.3s ease-in;
  gap: 16px;

  @include m768 {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba($blue, 0.2);
    font-family: $contra;
    font-size: 12px;
    backdrop-filter: blur(5px);
  }
}

.project__content {
  padding-top: 20px;
  font-weight: 400;

  .title {
    margin-bottom: 16px;
  }

  .text {
    :deep(p) {
      margin-bottom: 0;
    }
  }
}
