.updates-card {
  width: 100%;

  @include m768 {
    margin-bottom: 120px;
  }

  a {
    &:hover {
      .title {
        text-decoration: underline;
      }
    }
  }
}

.updates-card--dark {
  border-color: $blue;

  .updates-card__content {
    color: $blue;

    .title {
      :deep(a) {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 22' fill='none' stroke='%2300001A' stroke-width='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4256 5.33673H16.4766V14.3877' /%3E%3Cpath d='M5.16406 16.6504L12.5988 9.21567' /%3E%3C/svg%3E%0A");
        }
      }
    }

    .text {
      color: rgba($blue, 0.5);
    }
  }
}

.updates-card--small {
  margin-bottom: 4px;
  padding-bottom: 8px;
  border-bottom: 1px solid $white;
}

.updates-card__img {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;

  img {
    @include fullAbs;
    @include fit;
  }
}

.updates-card__content {
  padding-top: 20px;
  color: $white;

  .title {
    margin-bottom: 16px;

    :deep(p) {
      margin: 0;
      font-weight: 400;
    }

    :deep(a) {
      font-weight: 400;

      &:after {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-left: 0.2em;
        content: '';
        transform: translateY(4px);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 22' fill='none' stroke='%23F4F4F4' stroke-width='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4256 5.33673H16.4766V14.3877' /%3E%3Cpath d='M5.16406 16.6504L12.5988 9.21567' /%3E%3C/svg%3E%0A");
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text {
    color: rgba($white, 0.5);
  }

  .date {
    font-family: $contra;
    font-size: 14px;

    @include m768 {
      font-size: 16px;
    }
  }
}
