.updates__intro {
  position: relative;
  margin-bottom: 40px;

  @include m768 {
    margin-bottom: 80px;
  }

  .text {
    position: relative;
    text-align: left;
    padding: 40px 0;

    @include m768 {
      padding: 80px 0;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background-color: $blue;
    }

    :deep(a) {
      text-decoration: underline;
    }

    :deep(p:last-of-type) {
      margin-bottom: 0;
    }
  }
}