.about-hero {
  position: relative;
  padding: 150px 0;

  .shapes {
    .red {
      top: 0;
      left: 40%;
      width: 120%;
      transform: translateY(-40%);
      filter: blur(50px);

      @include m768 {
        left: 60%;
        width: 50%;
        filter: blur(100px);
      }
    }

    .red--2 {
      top: 25%;
      right: 60%;
      left: auto;
      width: 100%;
      transform: translateY(0);

      @include m768 {
        right: 70%;
        width: 40%;
      }
    }
  }

  .container {
    position: relative;
  }

  .title {
    :deep(p){
      margin: 0;
    }
  }
}