.about-hero {
  position: relative;
  padding: 150px 0;

  .shapes {
    .red {
      top: 0;
      left: 60%;
      width: 50%;
      transform: translateY(-40%);
      background-color: $red;
      aspect-ratio: 1 / 1;
      filter: blur(100px);
    }

    .red--2 {
      top: 25%;
      right: 70%;
      left: auto;
      width: 40%;
      transform: translateY(0);
    }
  }

  .container {
    position: relative;
  }
}