.about-services {
  position: relative;
  padding: 24px 0 120px;
  border-top: 1px solid $blue;
}

.services__headline {
  margin-bottom: 70px;

  @include m768 {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 16px;
    font-weight: 500;
  }

  .text {
    margin-bottom: 30px;
  }
}

.single-accordion {
  padding: 15px 0;
  border-bottom: 1px solid $blue;
}

.accordion__headline {
  display: flex;
  margin-bottom: 0;
  cursor: pointer;
  transition: margin 0.3s ease-in;
  align-items: center;
  justify-content: space-between;

  &.active {
    margin-bottom: 32px;

    .icon {
      &:after {
        opacity: 0;
      }
    }
  }

  .title {
    font-weight: 500;
  }

  .icon {
    position: relative;
    width: 20px;
    height: 20px;

    &:before,
    &:after {
      position: absolute;
      width: 100%;
      height: 1px;
      content: '';
      background-color: $blue;

      @include centerAbs;
    }

    &:after {
      transition: opacity 0.3s ease-in;
      transform: translate(-50%, -50%) rotate(90deg);
      transform-origin: center;
    }
  }
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in;
  padding-right: 8.333%;

  .text {
    &,
    p {
      font-size: 24px;
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        font-size: 24px;
      }
    }
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      font-size: 24px;
    }
  }
}