.content__group {
  padding-top: 13px;
  border-top: 1px solid $blue;
  margin-bottom: 80px;

  @include m768 {
    margin-bottom: 120px;
  }

  .title {
    font-weight: 500;
    margin-bottom: 32px;

    @include m768 {
      margin-bottom: 50px;
    }
  }

  .text {
    :deep(p) {
      font-size: 24px;

      @include m768 {
        font-size: 30px;
      }
    }
  }

}

.deliverables {
  .text {
    :deep(p) {
      font-size: 18px;
      margin: 0;

      @include m768 {
        font-size: 20px;
      }
    }
  }
}