.project__headline {
  padding: 200px 0 64px;

  @include m768 {
    padding: 150px 0 64px;
  }

  .title {
    font-weight: 400;

    :deep(p) {
      margin-top: 0;
      margin-bottom: 24px;

      @include m768 {
        margin-bottom: 1em;
      }
    }
  }
}

.project__data {
  display: flex;
  margin-bottom: 64px;
  align-items: center;

  .logo {
    width: auto;
    height: 32px;
    margin-right: 12px;

    img {
      width: auto;
      max-width: none;
      height: 100%;
    }
  }

  .text {
    margin-bottom: 0;
    padding-left: 12px;
    border-left: 1px solid $blue;
    font-weight: 400;
  }
}

.main__image {
  position: relative;
  padding-bottom: 62.5%;

  img,
  iframe {
    @include fullAbs;
    @include fit;
  }
}