.project__headline {
  padding: 150px 0 64px;
}

.project__data {
  display: flex;
  margin-bottom: 64px;

  .logo {
    width: auto;
    height: 24px;
    margin-right: 15px;

    img {
      width: auto;
      max-width: none;
      height: 100%;
    }
  }
}

.main__image {
  position: relative;
  padding-bottom: 62.5%;

  img,
  iframe {
    @include fullAbs;
    @include fit;
  }
}