.project__images {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.single-image {
  position: relative;
  width: 100%;
  margin-bottom: 48px;
  overflow: hidden;

  @include m768 {
    margin-bottom: 50px;
  }

  @include m992 {
    margin-bottom: 64px;
  }

  .v-lazy-image {
    transition: filter 0.6s ease-out;
    filter: blur(20px);
  }

  .v-lazy-image-loaded {
    filter: blur(0);
  }
}

.single-image--video {
  position: relative;
  padding-bottom: 62.5% ;


  iframe {
    @include fullAbs;
    @include fit;
  }

  &.single-image--medium {
    @include m768 {
      padding-bottom: calc(62.5% * 0.75);
    }
  }
}

.single-image--medium {
  @include m768 {
    width: 75%;
  }

  &.center {
    margin-right: auto;
    margin-left: auto;
  }

  &.right {
    margin-left: auto;
  }
}

.single-image--small {
  padding-bottom: 0;

  @include m768 {
    width: calc(50% - 12px);
  }
}

.single-image--xsmall {
  padding-bottom: 0;

  @include m768 {
    width: calc(33% - 12px);
  }
}