.project__images {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.single-image {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;

  @include m992 {
    margin-bottom: 120px;
  }

  .v-lazy-image {
    transition: filter 0.6s ease-out;
    @include fullAbs;
    @include fit;
    filter: blur(20px);
  }
  .v-lazy-image-loaded {
    filter: blur(0);
  }
}

.single-image--full {
  padding-bottom: 62.5%;
}

.single-image--medium {
  padding-bottom: 62.5%;

  @include m768 {
    width: 75%;
    padding-bottom: calc(62.5% * 0.75);
  }

  &.center {
    margin-right: auto;
    margin-left: auto;
  }

  &.right {
    margin-left: auto;
  }
}

.single-image--small {
  padding-bottom: 0;

  @include m768 {
    width: calc(50% - 25px);
  }
  @include m992 {
    width: calc(50% - 65px);
  }

  .v-lazy-image {
    position: relative;
    height: auto;
    object-fit: initial;
  }
}