.project__next {
  position: relative;
  margin-bottom: 180px;

  .container {
    position: relative;
  }

  &:after {
    display: block;
    content: '';
    transition: opacity 0.3s ease-in;
    opacity: 1;
    backdrop-filter: blur(30px);
    @include fullAbs;
  }

  &:hover {
    &:after {
      opacity: 0;
    }

    a {
      &:before {
        background-color: rgba($blue, 0.5);
      }
    }
  }

  a {
    position: relative;
    z-index: 1;
    display: block;

    &:before {
      content: '';
      transition: background 0.3s ease-in;
      background-color: rgba($blue, 0.3);
      @include fullAbs;
    }
  }
}

.next__bg {
  @include fullAbs;
  @include fit;
}

.next__headline {
  display: flex;
  padding: 20px 0;
  color: $white;
  border-bottom: 1px solid $white;
  font-family: $contra;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

  .icon {
    width: 18px;
    stroke: $white;
    stroke-width: 2;
    fill: none;
  }
}

.next__marquee {
  position: relative;
  width: 100%;
  padding: 100px 0;
  align-items: center;

  .content {
    white-space: nowrap;
    color: $white;
    font-family: $contra;
    font-size: 8.3vw;
    @include anim(marquee, 10s, -50%);
  }
}
